body {
    background-color: #ea8a8a;
}

.pContainer {
    display: grid;
    align-items: center;
    height: 30px;
    width: 100px;
    border: 1px solid rgb(60, 59, 59);
    background-color: white;
}

.pContainer p {
    margin: 0px;
    text-align: center;
}

#resetButtonColor {
    background-color: rgba(113, 178, 252, 0.851);
}

.cellEventColor {
    background-color: rgb(158, 217, 158);
}