.homePageLinks {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-family: 'Chango', sans-serif;
    letter-spacing: 1px;
}

.fontInHeaderAndMain {
    font-family: 'quicksand', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

div.homeContainer {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
}

div.gitHubContainer {
    width: 50%;
    display: flex;
    padding-right: 40px;
}

.homeFontWeight {
    font-weight: 400;
}

.gitHub {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: normal;
    margin-left: auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.headerInput {
    width: 60px;
    height: 30px;
    padding: 0px;
    text-align: center;
}

.buttonCreate {
    height: 34px;
    box-sizing: border-box;
    background-color: #43b3ae;
    border-radius: 5px;
}

.dynamicElements {
    display: grid;
    justify-items: center;
}

.controls {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    align-items: center;
}

.gridShell {
    height: 100%;
    gap: 5px;
}

.gridCells {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    background-color: #fbceb1;
}