body {
    background-color: rgb(129, 191, 129);
}

#addUpToButtonColor {
    background-color: rgba(255, 166, 0, 0.84);
}

#addingInput {
    width: 65px;
    height: 30px;
    padding: 0px;
    text-align: center;
    border-radius: 5px;
}

.addedUpDivsColor {
    background-color: #3592ed;
}