body {
    background-color: #2098bdcc;
}

.pContainer {
    display: grid;
    align-items: center;
    height: 30px;
    border: 1px solid rgb(60, 59, 59);
    background-color: white;
}

.pContainer p {
    margin: 0px;
    text-align: center;
}

#pRemoveContainer {
    width: 220px;
}

#randomButtonColor {
    background-color: #4b9169;
}

#eraseButtonColor {
    background-color: #afd9ae;
}

#pRandomContainer {
    width: 50px;
}

#gridMarginRemove {
    margin-top: 10px;
}

.newColorForMatch {
    background-color: rgba(255, 68, 0, 0.869);
}

.newColorForRemove {
    background-color: white;
}

.gridCellsHover:hover {
    background-color: rgba(255, 68, 0, 0.3);
}