body {
    background-color: #0085adcb;
}

.pContainer {
    display: grid;
    align-items: center;
    height: 30px;
    border: 1px solid rgb(60, 59, 59);
    background-color: white;
    text-align: center;
}

.pContainer p {
    margin: 0px;
    text-align: center;
}

.removeButtons {
    height: 34px;
    border-radius: 5px;
    background-color: #afd9ae;
}

#pRandomContainer {
    width: 50px;
}

#pRemoveContainer {
    width: 220px;
}

.newColorForMatch {
    background-color: rgba(255, 68, 0, 0.869);
}

.newColorForRemove {
    background-color: white;
}