body {
    background-color: #bc8fcafa;
}

#clearButton {
    background-color: #bfffe3;
}

#gridMarginClear {
    margin-top: 10px;
}

.mouseoverColor {
    background-color: yellow;
}

.clickColor {
    background-color: goldenrod;
}

.mouseleaveColor {
    background-color: #44baa3;
}